---
import { CompanyShowcaseComp } from "@/components/react/CompanyShowcaseComp";
---

<section
  id="company"
  class="flex flex-col items-center justify-center gap-10 py-10 pt-20 w-full relative px-6"
>
  <p class="text-muted-foreground font-medium">
    Integrated with the best tools
  </p>
  <CompanyShowcaseComp client:visible />
</section>
